.ikW100 { width: 100%; }
.ikH100 { height: 100%; }

.ikRow {
    box-sizing: border-box;
    display: table;
    width: 100%;
    margin: 0 auto; 
}
.ikCol100 { width: 100%; max-width: 100%; }
.ikCol50 { width: 50%; max-width: 50%; }
.ikCol33 { width: 33.33%; max-width: 33.33%; }
.ikCol66 { width: 66.66%; max-width: 66.66%; }
.ikCol25 { width: 25%; max-width: 25%; }
[class*="ikCol"] {
    display: table-cell;
    vertical-align: middle;
}
.ikAlignVMiddle { vertical-align: middle; }
.ikAlignVTop { vertical-align: top; }
.ikAlignVBottom { vertical-align: bottom; }

.ikRowPaddingV4:not(:first-child) { padding-top: 4px; }
.ikRowPaddingV4:not(:last-child) { padding-bottom: 4px; }

.ikRowPaddingH4 [class*="ikCol"]:not(:first-child) { padding-left: 4px; }
.ikRowPaddingH4 [class*="ikCol"]:not(:last-child) { padding-right: 4px; }

.ikRelative {
    position: relative;
}
.ikRelativeChildCenterV {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.ikRelativeChildCenterVH {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.ikTextCenter { text-align: center; }
.ikTextLeft { text-align: left; }
.ikTextRight { text-align: right; }

.ikMarginT8 { margin-top: 4px; }
.ikMarginB4 { margin-bottom: 4px; }
.ikMarginL4 { margin-left: 4px; }
.ikMarginR4 { margin-right: 4px; }
.ikMarginV4 { margin-top: 4px; margin-bottom: 4px; }
.ikMarginH4 { margin-left: 4px; margin-right: 4px; }
.ikPaddingT4 { padding: 4px; }
.ikPaddingB4 { padding-bottom: 4px; }
.ikPaddingL4 { padding-left: 4px; }
.ikPaddingR4 { padding-right: 4px; }
.ikPaddingV4 { padding: 4px; padding-bottom: 4px; }
.ikPaddingH4 { padding-left: 4px; padding-right: 4px; }

.ikMarginT8 { margin-top: 8px; }
.ikMarginB8 { margin-bottom: 8px; }
.ikMarginL8 { margin-left: 8px; }
.ikMarginR8 { margin-right: 8px; }
.ikMarginV8 { margin-top: 8px; margin-bottom: 8px; }
.ikMarginH8 { margin-left: 8px; margin-right: 8px; }
.ikPaddingT8 { padding: 8px; }
.ikPaddingB8 { padding-bottom: 8px; }
.ikPaddingL8 { padding-left: 8px; }
.ikPaddingR8 { padding-right: 8px; }
.ikPaddingV8 { padding: 8px; padding-bottom: 8px; }
.ikPaddingH8 { padding-left: 8px; padding-right: 8px; }

.ikMarginT10 { margin-top: 10px; }
.ikMarginB10 { margin-bottom: 10px; }
.ikMarginL10 { margin-left: 10px; }
.ikMarginR10 { margin-right: 10px; }
.ikMarginV10 { margin-top: 10px; margin-bottom: 10px; }
.ikMarginH10 { margin-left: 10px; margin-right: 10px; }
.ikPaddingT10 { padding: 10px; }
.ikPaddingB10 { padding-bottom: 10px; }
.ikPaddingL10 { padding-left: 10px; }
.ikPaddingR10 { padding-right: 10px; }
.ikPaddingV10 { padding: 10px; padding-bottom: 10px; }
.ikPaddingH10 { padding-left: 10px; padding-right: 10px; }

.ikMarginT15 { margin-top: 15px; }
.ikMarginB15 { margin-bottom: 15px; }
.ikMarginL15 { margin-left: 15px; }
.ikMarginR15 { margin-right: 15px; }
.ikMarginV15 { margin-top: 15px; margin-bottom: 15px; }
.ikMarginH15 { margin-left: 15px; margin-right: 15px; }
.ikPaddingT15 { padding: 15px; }
.ikPaddingB15 { padding-bottom: 15px; }
.ikPaddingL15 { padding-left: 15px; }
.ikPaddingR15 { padding-right: 15px; }
.ikPaddingV15 { padding: 15px; padding-bottom: 15px; }
.ikPaddingH15 { padding-left: 15px; padding-right: 15px; }

.ikMarginT16 { margin-top: 16px; }
.ikMarginB16 { margin-bottom: 16px; }
.ikMarginL16 { margin-left: 16px; }
.ikMarginR16 { margin-right: 16px; }
.ikMarginV16 { margin-top: 16px; margin-bottom: 16px; }
.ikMarginH16 { margin-left: 16px; margin-right: 16px; }
.ikPaddingT16 { padding: 16px; }
.ikPaddingB16 { padding-bottom: 16px; }
.ikPaddingL16 { padding-left: 16px; }
.ikPaddingR16 { padding-right: 16px; }
.ikPaddingV16 { padding: 16px; padding-bottom: 16px; }
.ikPaddingH16 { padding-left: 16px; padding-right: 16px; }

.ikMarginT20 { margin-top: 20px; }
.ikMarginB20 { margin-bottom: 20px; }
.ikMarginL20 { margin-left: 20px; }
.ikMarginR20 { margin-right: 20px; }
.ikMarginV20 { margin-top: 20px; margin-bottom: 20px; }
.ikMarginH20 { margin-left: 20px; margin-right: 20px; }
.ikPaddingT20 { padding: 20px; }
.ikPaddingB20 { padding-bottom: 20px; }
.ikPaddingL20 { padding-left: 20px; }
.ikPaddingR20 { padding-right: 20px; }
.ikPaddingV20 { padding: 20px; padding-bottom: 20px; }
.ikPaddingH20 { padding-left: 20px; padding-right: 20px; }

.ikMarginT25 { margin-top: 25px; }
.ikMarginB25 { margin-bottom: 25px; }
.ikMarginL25 { margin-left: 25px; }
.ikMarginR25 { margin-right: 25px; }
.ikMarginV25 { margin-top: 25px; margin-bottom: 25px; }
.ikMarginH25 { margin-left: 25px; margin-right: 25px; }
.ikPaddingT25 { padding: 25px; }
.ikPaddingB25 { padding-bottom: 25px; }
.ikPaddingL25 { padding-left: 25px; }
.ikPaddingR25 { padding-right: 25px; }
.ikPaddingV25 { padding: 25px; padding-bottom: 25px; }
.ikPaddingH25 { padding-left: 25px; padding-right: 25px; }

.ikMarginT30 { margin-top: 30px; }
.ikMarginB30 { margin-bottom: 30px; }
.ikMarginL30 { margin-left: 30px; }
.ikMarginR30 { margin-right: 30px; }
.ikMarginV30 { margin-top: 30px; margin-bottom: 30px; }
.ikMarginH30 { margin-left: 30px; margin-right: 30px; }
.ikPaddingT30 { padding: 30px; }
.ikPaddingB30 { padding-bottom: 30px; }
.ikPaddingL30 { padding-left: 30px; }
.ikPaddingR30 { padding-right: 30px; }
.ikPaddingV30 { padding: 30px; padding-bottom: 30px; }
.ikPaddingH30 { padding-left: 30px; padding-right: 30px; }

.ikMarginT32 { margin-top: 32px; }
.ikMarginB32 { margin-bottom: 32px; }
.ikMarginL32 { margin-left: 32px; }
.ikMarginR32 { margin-right: 32px; }
.ikMarginV32 { margin-top: 32px; margin-bottom: 32px; }
.ikMarginH32 { margin-left: 32px; margin-right: 32px; }
.ikPaddingT32 { padding: 32px; }
.ikPaddingB32 { padding-bottom: 32px; }
.ikPaddingL32 { padding-left: 32px; }
.ikPaddingR32 { padding-right: 32px; }
.ikPaddingV32 { padding: 32px; padding-bottom: 32px; }
.ikPaddingH32 { padding-left: 32px; padding-right: 32px; }

.ikMarginT35 { margin-top: 35px; }
.ikMarginB35 { margin-bottom: 35px; }
.ikMarginL35 { margin-left: 35px; }
.ikMarginR35 { margin-right: 35px; }
.ikMarginV35 { margin-top: 35px; margin-bottom: 35px; }
.ikMarginH35 { margin-left: 35px; margin-right: 35px; }
.ikPaddingT35 { padding: 35px; }
.ikPaddingB35 { padding-bottom: 35px; }
.ikPaddingL35 { padding-left: 35px; }
.ikPaddingR35 { padding-right: 35px; }
.ikPaddingV35 { padding: 35px; padding-bottom: 35px; }
.ikPaddingH35 { padding-left: 35px; padding-right: 35px; }

.ikMarginT40 { margin-top: 40px; }
.ikMarginB40 { margin-bottom: 40px; }
.ikMarginL40 { margin-left: 40px; }
.ikMarginR40 { margin-right: 40px; }
.ikMarginV40 { margin-top: 40px; margin-bottom: 40px; }
.ikMarginH40 { margin-left: 40px; margin-right: 40px; }
.ikPaddingT40 { padding: 40px; }
.ikPaddingB40 { padding-bottom: 40px; }
.ikPaddingL40 { padding-left: 40px; }
.ikPaddingR40 { padding-right: 40px; }
.ikPaddingV40 { padding: 40px; padding-bottom: 40px; }
.ikPaddingH40 { padding-left: 40px; padding-right: 40px; }

.ikMarginT50 { margin-top: 50px; }
.ikMarginB50 { margin-bottom: 50px; }
.ikMarginL50 { margin-left: 50px; }
.ikMarginR50 { margin-right: 50px; }
.ikMarginV50 { margin-top: 50px; margin-bottom: 50px; }
.ikMarginH50 { margin-left: 50px; margin-right: 50px; }
.ikPaddingT50 { padding: 50px; }
.ikPaddingB50 { padding-bottom: 50px; }
.ikPaddingL50 { padding-left: 50px; }
.ikPaddingR50 { padding-right: 50px; }
.ikPaddingV50 { padding: 50px; padding-bottom: 50px; }
.ikPaddingH50 { padding-left: 50px; padding-right: 50px; }

.ikMarginT60 { margin-top: 60px; }
.ikMarginB60 { margin-bottom: 60px; }
.ikMarginL60 { margin-left: 60px; }
.ikMarginR60 { margin-right: 60px; }
.ikMarginV60 { margin-top: 60px; margin-bottom: 60px; }
.ikMarginH60 { margin-left: 60px; margin-right: 60px; }
.ikPaddingT60 { padding: 60px; }
.ikPaddingB60 { padding-bottom: 60px; }
.ikPaddingL60 { padding-left: 60px; }
.ikPaddingR60 { padding-right: 60px; }
.ikPaddingV60 { padding: 60px; padding-bottom: 60px; }
.ikPaddingH60 { padding-left: 60px; padding-right: 60px; }